/* article - couleur de fond */
#article {
	background-color: #FFF;
}

/* article - bordure en bas de la section principale sur écrans > medium */
@media (max-width: 991px) {
	#article article {
		padding-bottom: 50px;
		margin-bottom: 30px;
		border-bottom: 1px solid #EEE;
	}
}

/* article - alignement des éléments */
#article {
	padding: 50px 50px 50px 0;
}
@media (max-width: 991px) {
	#article {
		padding-right: 0;
	}
}
#article article {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
#article article * {
	max-width: 474px;
}
#article article iframe {
	margin-top: 10px;
	margin-bottom: 30px;
}
#article h2 {
	margin-top: -10px;
	margin-bottom: 30px;
}

/* article - styles de police */
#article {
	font-family: sans;
}
#article h1,
#article h2 {
	text-transform: uppercase;
}
#article h1 {
	font-size: 2.4em;
	font-weight: 100;
}
#article h2 {
	font-size: 1.1em;
	font-weight: 700;
}
#article > div:nth-child(2) p {
	font-size: 0.9em;
	color: #777;
}
#article > div:nth-child(2) > div > div:last-child p {
	font-size: 0.8em;
}
#article > div:nth-child(2) p span {
	font-style: italic;
}

/* article - style des liens */
#article a {
	color: #24890D;
}
#article article a {
	text-decoration: underline;
}
#article a:hover {
	color: #41A62A;
	text-decoration: none;
}

/* article - style des sections de la colonne de droite */
#article > div:nth-child(2) > div > div > hr:first-child {
	border-style: none;
	background-color: #000;
	height: 5px;
}

/* article - format de l’image de la colonne de droite */
#article > div:nth-child(2) img {
	width: 100%;
}

/* article - effet de survol sur l’image de la colonne de droite */
#article > div:nth-child(2) > div > div:nth-child(2) > div {
	background-color: #000;
	background-image: url(images/pattern-dark.svg);
}
#article > div:nth-child(2) img:hover {
	opacity: 0.85;
}

/* article - section cachée dans "upcoming gigs" sur écrans < large */
@media (max-width: 1199px) {
	#article > div:nth-child(2) > div > div > p:nth-child(3),
	#article > div:nth-child(2) > div > div > hr:nth-child(4) {
		display: none;
	}
}
