/* bandeau - taille des colonnes */
#bandeau .col-lg-4,
#bandeau .col-md-6,
#bandeau .col-sm-12 {
	height: 300px;
	padding: 0;
}
#bandeau > div > a > div:first-child {
	height: 200px;
}
#bandeau > div > div:last-child {
	height: 100px;
}

/* style du bandeau - couleurs */
#bandeau > div > div:last-child {
	background-color: #000;
}
#bandeau a {
	color: #FFFFFF;
}
#bandeau a:hover {
	text-decoration: none;
	color: #41A62A;
}

/* style du bandeau - style du texte */
#bandeau h2,
#bandeau h2 small {
	text-transform: uppercase;
}
#bandeau h2 {
	margin-top: 0;
	margin-bottom: 40px;
	padding: 0 15px;
	font-size: 0.8em;
	font-weight: 700;
}
#bandeau h2 br {
	line-height: 50px;
}
#bandeau h2 small {
	font-size: 1.5em;
	font-weight: 100;
}

/* style du bandeau - taille des images */
#bandeau > div > a > div:first-child {
	width: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
}

/* bandeau - fond zebré derrière les images */
#bandeau {
	position: relative;
}
#bandeau > div:first-child {
	position: absolute;
	width: 100%;
	height: 600px;
	background-image: url(images/pattern-dark.svg);
	background-color: #000;
}
@media (min-width: 1200px) {
	#bandeau > div:first-child {
		height: 300px;
	}
}

/* bandeau - effet au survol des images */
#bandeau > div > a > div:first-child:hover {
	opacity: 0.85;
}
