/*Défaut*/
@import url(https://fonts.googleapis.com/css?family=Lato);
body{
	font-family: Lato,sans-serif;
	background-color: black;
}
.container-fluid{
	padding: 0;
}
a{
	text-decoration: none!important;
	color: white;
}

/*Partie Ronald*/
nav.navbar{
	margin-bottom: 0;
}
.navbar-header{
	margin-left: 15px;
}

.navbar-brand{
	margin-left:15px!important;
	padding:15px 0 15px 15px;
	height: 48px;
	font-size: 18px;
	font-weight: 700;
}
.navbar-brand:hover{
	color: white;
}
.navbar-nav a{
	height:48px;
}
.navbar-nav{
	height: 48px;
	margin-right: 0;
	color: white;
	font-size: 11px;
	text-transform: uppercase;
}
.active a{
	color: #55d737;
	font-weight: 900;
}

.active a:hover{
	color: white;
}
.greenblock:hover{
	background-color: #24890d!important;
	color: white;
}
a.facebook, a.twitter{
	padding: 0;
}
.facebook:before {
	content: '\f204';
	font: normal 16px/1 'Genericons';
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.twitter:before {
	content: '\f202';
	font: normal 16px/1 'Genericons';
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.github:after{
	content: '\f200';
	font: normal 16px/1 'Genericons';
	display: inline-block;
	float: right;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.wordpress:after{
	content: '\f205';
	font: normal 16px/1 'Genericons';
	display: inline-block;
	float: right;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a.loupe{
	display: block;
	cursor: pointer;
	background-color: #24890d;
	color: white;
	float: right !important;
	height: 48px;
	width: 48px;

}
.loupe:before {
	font-weight: 400;
	font-size: 20px !important;
	margin-top:14px;
	content: '\f400';
	font: normal 16px/1 'Genericons';
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a.loupe:hover{
	background: #41a62a;
}
.search_box{
	padding-left: 0px;
	padding-right:0px;
}
.search_large{
	z-index: 1;
	position: absolute;
	height: 49px!important;
	width: 100%;
	right: 0;
	float: right;
	padding: 12px;
	background: #41a62a;
}
.size_md{
	background-color: white!important;
	width: 324px!important;
	height: 25px!important;
	float: right!important;
}
.size_sx{
	border: 1px solid #939393;
	background-color: #1A1A1A;
	padding: 3px 2px 4px 4px;
	width: 162px;
	height: 23px;
}
.search_sidebar{
	padding: 0 0 0 15px;
}
.form-control{
	border-radius: 4px !important;
}
nav{
		padding: 0;
}
.descrip_site{
	margin-left: 30px;
	margin-top: 0;
	color: #939393;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
}
.block{
	margin-bottom:48px;
}
.sidebar{
	padding:0;
}
.nav_sidebar a{
	display: block;
	padding: 10px 30px;
}
.nav_sidebar{
	padding-left: 0px;
	border-bottom: 1px solid; 
}
.nav_sidebar ul li{
	width: 100%;
	display: block;
	border-top: 1px solid;
}
.nav_sidebar ul{
	margin-bottom: 0;
}

nav ul{
	padding: 0 15px 0 15px;
	padding: 0;
	list-style: none;
	text-transform: uppercase;
	font-size: 12px;
}
.release h4{
	text-transform: uppercase;
	color:white;
	font-size: 11px;
	font-weight: 900;
}
.release{
	margin-bottom: 18px;
	font-size: 12px;
	color: #939393;
}
.publish{
	color: #939393;
	font-size: 12px;
	font-weight: 400;
	font-style: italic;
	margin-top: 9px;
}
.text_release p{
	margin-bottom: 0;
}
.text_release ^_^{
	margin-bottom: 18px;
}
.remerciement h4{
	color: white;
	text-transform: uppercase;
}
.play,.remerciement ul{
	padding-left: 0;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	list-style: none;
	color: white;
	text-transform: capitalize;
}
.remerciement li{
	padding-bottom: 6px
	}
.thanks{
	margin-top:0;
	margin-bottom: 18px;
	font-size: 11px!important;
	font-weight: 900;
}
.powerfull_by{
	padding-right: 0;
}
.theme_descrip{
	color: #939393;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;

}
.play:hover,
.remerciement ul li a:hover,
.theme_descrip a:hover{
	color: #24890d;
	/*text-decoration: none;*/
}
footer{
	padding:15px 30px;
}
.description_footer{
	color: #939393;
	font-family: Lato,sans-serif;
	font-size: 12px;
}

.green:hover{
	color: #24890d;
}

/*Fin partie Ronald*/

/* bandeau - taille des colonnes */
#bandeau .col-lg-4,
#bandeau .col-md-6,
#bandeau .col-sm-12 {
	height: 300px;
	padding: 0;
}

/* style du bandeau - couleurs */
#bandeau > div {
	background-color: #000000;
}
#bandeau a {
	color: #FFFFFF;
}
#bandeau a:hover {
	text-decoration: none;
	color: #41A62A;
}

/* style du bandeau - style du texte */
#bandeau h2,
#bandeau h2 small {
	text-transform: uppercase;
}
#bandeau h2 {
	margin-top: 0;
	margin-bottom: 40px;
	padding: 0 15px;
	font-size: 0.8em;
	font-weight: 700;
}
#bandeau h2 br {
	line-height: 50px;
}
#bandeau h2 small {
	font-size: 1.5em;
	font-weight: 100;
}

/* style du bandeau - taille des images */
#bandeau > div > div:first-child {
	width: 100%;
	height: 200px;
	background-size: 100%;
	background-repeat: no-repeat;
}

/* bandeau - fond zebré derrière les images */
#bandeau {
	position: relative;
}
#bandeau > div:first-child {
	position: absolute;
	width: 100%;
	height: 600px;
	background-image: url(images/pattern-dark.svg);
}
@media (min-width: 1200px) {
	#bandeau > div:first-child {
		height: 300px;
	}
}

/* article - couleur de fond */
#article {
	background-color: #FFF;
}

/* article - bordure en bas de la section principale sur écrans > medium */
@media (max-width: 991px) {
	#article article {
		padding-bottom: 50px;
		margin-bottom: 30px;
		border-bottom: 1px solid #EEE;
	}
}

/* article - alignement des éléments */
#article {
	padding: 50px 50px 50px 0;
}
@media (max-width: 991px) {
	#article {
		padding-right: 0;
	}
}
#article article {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
#article article * {
	max-width: 474px;
}
#article article iframe {
	margin-top: 10px;
	margin-bottom: 30px;
}
#article h2 {
	margin-top: -10px;
	margin-bottom: 30px;
}

/* article - styles de police */
#article {
	font-family: sans;
}
#article h1,
#article h2 {
	text-transform: uppercase;
}
#article h1 {
	font-size: 2.4em;
	font-weight: 100;
}
#article h2 {
	font-size: 1.1em;
	font-weight: 700;
}
#article > div:nth-child(2) p {
	font-size: 0.9em;
	color: #777;
}
#article > div:nth-child(2) > div > div:last-child p {
	font-size: 0.8em;
}
#article > div:nth-child(2) p span {
	font-style: italic;
}

/* article - style des liens */
#article a {
	color: #24890D;
}
#article article a {
	text-decoration: underline;
}
#article a:hover {
	color: #41A62A;
	text-decoration: none;
}

/* article - style des sections de la colonne de droite */
#article > div:nth-child(2) > div > div > hr:first-child {
	border-style: none;
	background-color: #000;
	height: 5px;
}

/* article - format de l’image de la colonne de droite */
#article > div:nth-child(2) img {
	width: 100%;
}

/* article - effet de survol sur l’image de la colonne de droite */
#article > div:nth-child(2) > div > div:nth-child(2) > div {
	background-color: #000;
	background-image: url(images/pattern-dark.svg);
}
#article > div:nth-child(2) img:hover {
	opacity: 0.85;
}

/* article - section cachée dans "upcoming gigs" sur écrans < large */
@media (max-width: 1199px) {
	#article > div:nth-child(2) > div > div > p:nth-child(3),
	#article > div:nth-child(2) > div > div > hr:nth-child(4) {
		display: none;
	}
}


