/* article - taille des sections */
#article article {
	min-height: 800px;
}

/* article - alignement des éléments */
#article article {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
