@import url(https://fonts.googleapis.com/css?family=Lato);
body{
	font-family: Lato,sans-serif;
	background-color: black;
}

a{
	text-decoration: none!important;
	color: white;
}

nav.navbar{
	margin-bottom: 0;
}
.navbar-brand{
	padding:15px 0 15px 30px;
	height: 48px;
	font-size: 18px;
	font-weight: 700;
}
.navbar-brand:hover{
	color: white;
}
.navbar-nav a{
	height:48px;
}
.navbar-nav{
	height: 48px;
	margin-right: 0;
	color: white;
	font-size: 11px;
	text-transform: uppercase;
}
.active a{
	color: #55d737;
	font-weight: 900;
}

.active a:hover{
	color: white;
}
.navbar-nav li a:hover{
	background-color: #24890d;
	color: white;
}
a.facebook, a.twitter{
	padding: 0;
}
.facebook:before {
	content: '\f204';
	font: normal 16px/1 'Genericons';
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.twitter:before {
	content: '\f202';
	font: normal 16px/1 'Genericons';
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a.loupe{
	display: block;
	cursor: pointer;
	background-color: #24890d;
	color: white;
	float: right !important;
	height: 48px;
	width: 48px;

}
.loupe:before {
	font-weight: 400;
	font-size: 20px !important;
	margin-top:14px;
	content: '\f400';
	font: normal 16px/1 'Genericons';
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a.loupe:hover{
	background: #41a62a;
}
.search_box{
	padding-left: 0px;
	padding-right:0px;
}
.search_large{
	height: 49px!important;
	width: 100%;
	right: 0;
	margin-right: 15px;
	float: right;
	padding: 12px;
	background: #41a62a;
}
.size_md{
	width: 324px!important;
	height: 25px!important;
	float: right!important;
}
.size_sx{
	width: 162px;
	height: 23px;
}
.search_sidebar{
	padding: 0 15px;
}
.form-control{
	border-radius: 4px !important;
}
nav{
		padding: 0 0 0 15px;
}
.descrip_site{
	color: #939393;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
}
.block{
	margin-bottom:48px;
}
nav ul{
	padding: 0 15px 0 15px;
	padding: 0;
	list-style: none;
	text-transform: uppercase;
	font-size: 12px;
}
.release h4{
	text-transform: uppercase;
	color:white;
	font-size: 11px;
	font-weight: 900;
}
.release{
	font-size: 12px;
	color: #939393;
}
.publish{
	color: #939393;
	font-size: 12px;
	font-weight: 400;
	font-style: italic;
	margin-top: 9px;
}
.text_release p{
	margin-bottom: 0;
}
.text_release ^_^{
	margin-bottom: 18px;
}
.remerciement h4{
	color: white;
	text-transform: uppercase;
}
.play,.remerciement ul{
	padding-left: 0;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	list-style: none;
	color: white;
	text-transform: capitalize;
}
.remerciement li{
	padding-bottom: 6px
	}
.thanks{
	margin-top:0;
	margin-bottom: 18px;
	font-size: 11px!important;
	font-weight: 900;
}
.powerfull_by{
	padding-right: 0;
}
.theme_descrip{
	color: #939393;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;

}
.play:hover,
.remerciement ul li a:hover,
.theme_descrip a:hover{
	color: #24890d;
	/*text-decoration: none;*/
}