/* article - taille des sections */
#article article {
	min-height: 800px;
}

/* article - alignement des éléments */
#article article {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* article - styles de police */
#article {
	font-family: sans;
}
#article h1,
#article h2 {
	text-transform: uppercase;
}
#article h1 {
	font-weight: 100;
}
#article h2 {
	font-size: 1.1em;
	font-weight: 700;
}
#article > div:nth-child(2) p {
	font-size: 0.9em;
	color: #777;
}
#article > div:nth-child(2) > div > div:last-child p {
	font-size: 0.8em;
}
#article > div:nth-child(2) p span {
	font-style: italic;
}
